$heightSmall: 3rem
$heightLarge: 30rem
$height: $heightLarge + $heightSmall
$width: 95%
$widthOfPIcturesSection: 80%

#carousel 
  perspective: 300px
  font-size: 0
  //padding: 2rem 0 4rem
  overflow: hidden
  //margin: 3rem 0
  ~ button 
    color: #fff
    display: flex
    align-items: center
    text-decoration: none
    transition: .2s
    position: absolute
    width: $width
    cursor: pointer
    left: (100% - $width)/2
    //border-radius: 15px
    background-color: rgba(255,255,255,0.4)
    //border: 2px solid rgba(0,0,0,0.4)
    font-size: 2.5rem
    text-align: center
    color: rgba(55, 124, 87, .8);
    span
      margin: 0 auto
      transition: .2s
    &:hover span
        color: #fff
    &:hover 
      background-color: rgba(55, 124, 87, .8);
    &:nth-of-type(1)
      top: -3rem
    &:nth-of-type(2) 
      bottom: -2.5rem
#spinner  
  transform-style: preserve-3d
  transform: translateX((100% - $width)/2)
  height: $height
  margin: 0 auto
  transition: .5s
  
  >li 
    display: block
    width: $width
    height: $height
    position: absolute
    
    font-size: 5rem
    text-align: center
    vertical-align: baseline
    overflow: hidden
    color: #fff
    backface-visibility: hidden
    
  article
    position: relative
    background: rgba(255,255,255,0.4)
    border: 1px solid #69394f
    color: #fff
    cursor: pointer
    transition: .5s
    
    >header 
      position: absolute
      top: 0
      left: 0
      font-size: 1.5rem
      background: rgba(0,0,0,0.5)
      overflow: hidden
      padding: 0.25rem 1rem
      transition: 1s
      width: 100%
      z-index: 2
      
      h3
        text-align: left
        white-space: nowrap
        
.viktorina
  background: #e7a458
  min-height: 100%
  .viktorina_header 
    background: rgba(255,255,255,0.3)
    
    h1 
      text-align: center
      padding: 2%
      font-size: 3rem
      font-family: impact
      color: #377c57
  
  .viktorina_content 
    position: relative
    display: flex
    flex-flow: row nowrap
    //align-items: center
  .viktorina_questions
    padding: 3.5rem 0
    flex-basis: $widthOfPIcturesSection
.city 
  position: relative
    


.description
  position: absolute
  width: 100%
  bottom: 0
  word-wrap: break-word
  height: 2rem
  overflow: hidden
  text-align: left
  background: rgba(0,0,0,0.5)
  transition: .5s
  cursor: pointer
  z-index: 2
    
  h4
    font-size: 1.5rem
    padding: 0.2rem
  p 
    font-size: 1rem
    text-align: justify
    padding: 1rem
    height: 10rem
    overflow: auto
.photos 
  transform-style: preserve-3d
  transition: .5s
  position: relative
  width: 100%
  height: $heightLarge
  div
    backface-visibility: hidden
    position: absolute
    width: 100%
    height: $heightLarge
    background-size: auto 100%
    background-position: center
    background-repeat: no-repeat
.points 
  display: flex
  flex-flow: row wrap
  justify-content: center
  height: $heightSmall
  align-items: center
  position: absolute
  left: 0
  bottom: -$heightSmall
  width: 100%
  z-index: 2
  padding: 0.2rem
  div 
    display: block
    width: 1.5rem
    height: 1.5rem
    border-radius: 50%
    margin: 0.3rem
    background: rgba(0,0,0,0.5)
    border: 0.3rem solid #fff 
    cursor: pointer
    &.checked
      background-color: rgba(55, 124, 87, .8);
      border-color: #fff
.bigsize-image-wrapper
  width: 100%
  position: fixed
  top: 0
  left: 0
  background: rgba(0,0,0,0)
  z-index: -1
  display: flex
  justify-content: center
  align-items: center
  transition: .5s
  div
    //max-width: 80%
    max-height: 90%
    background-repeat: no-repeat
    background-size: 100% 100%
    opacity: 0
    transition: .5s
    cursor: pointer
    background-color: rgba(255,255,255,0.7)
    border-radius: 10px
    border: 7px solid rgba(55, 124, 87, .9)
    box-shadow: inset 0 0 0 5px #fff

.activated
  z-index: 10
  background: rgba(0,0,0,.5)

.viktorina_answers
  flex-basis: 100% - $widthOfPIcturesSection
  margin-top: .5rem;
  padding: 0;
  display: flex
  flex-flow: column nowrap
  align-items: center
  header
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 2.5rem
    background-color: #377c57
    font-family: impact
    color: #fff
    text-shadow: 0 0 2px #000
    font-size: 1.2rem
.answers_list
  width: 100%
  li
    display: flex
    align-items: center
    justify-content: center
    height: 3rem
    font-family: impact
    color: #fff
    text-shadow: 0 0 2px #000
    background-color: rgba(255,255,255,0.5)
    cursor: pointer
    transition: .1s
    border: 1px solid rgba(0,0,0,.3)
    border-bottom: 0px none
    &:last-child
      border-bottom: 1px solid rgba(0,0,0,.3)
    &:hover
      background-color: #e9c25d
      box-shadow: 0 0 3px rgba(0,0,0,.8)
